<script lang="ts">
import { computed, defineComponent, onBeforeUnmount, onMounted } from "vue";
import "chartjs-adapter-date-fns";
// import AppDashboardLayout from "@/containers/AppDashboardLayout.vue";
import AppStandardLayout from "@/containers/AppStandardLayout.vue";
import { useCommonStore } from "@/stores/common";
import AdminTabs from "@/admin/conponents/AdminTabs.vue";
import { routesNames } from "@/routesNames";
import { useAdminEventBus } from "@/admin/helpers/useAdminEventBus";
import { useUserStore } from "@/stores/user";
import { UserRole } from "@/types/commonTypes";
import AdminReviewModal from "@/admin/containers/reviewModal/AdminReviewModal.vue";
import AppContentWrapper from "@/components/AppContentWrapper.vue";

export default defineComponent({
  components: {
    AdminTabs,
    AppStandardLayout,
    AdminReviewModal,
    AppContentWrapper,
  },
  async setup() {
    const commonStore = useCommonStore();
    const userStore = useUserStore();
    const adminEventBus = useAdminEventBus();

    const tabs = computed(() => {
      const result: any[] = [];
      if (userStore.info?.role === UserRole.manager) {
        result.push({
          route: { name: routesNames.adminDashboardPages },
          title: "Pages",
        });
        result.push({
          route: { name: routesNames.adminNewsletterList },
          title: "Newsletter",
        });
      }
      result.push({
        route: { name: routesNames.adminBusinessCategories },
        title: "Categories",
      })
      return result;
    });

    return {
      tabs,
      mainNavigation: commonStore.getMainNavigation(true),
    };
  },
});
</script>

<template>
  <AppStandardLayout :nav-links="mainNavigation">
    <div class="page">
      <AppContentWrapper class="content-wrapper">
        <section class="stats">
          <AdminTabs class="tabs" :items="tabs" />
          <RouterView />
          <teleport to="body">
            <AdminReviewModal />
          </teleport>
        </section>
      </AppContentWrapper>
    </div>
  </AppStandardLayout>
</template>

<style lang="scss" scoped>
.tabs {
  margin-bottom: 24px;
}
.stats {
  align-items: center;
  margin-bottom: 24px;
}

.page {
  padding-bottom: 80px;
  margin-top: 40px;
}

.content-wrapper {
  max-width: 1224px;
}
</style>