<script lang="ts">
import { ref, computed, defineComponent, onMounted, toRef } from "vue";

import { BusinessCategory, BusinessCategoryType, businessCategoryTypes } from "@/types/commonTypes";

import { useAdminBusinessCategoriesStore } from "./store";

import AppCard from "@/components/AppCard.vue";
import UiButton from "@/components/UiButton.vue";
import UiPagination from "@/components/UiPagination.vue";
import AppCategoryEditModal from "./AppCategoryEditModal.vue";
import UiSearchInput from "@/components/UiSearchInput.vue";

import IconPlus from "@/components/icons/IconPlus.vue";
import IconChevronRight from "@/components/icons/IconChevronRight.vue";
import IconPen from "@/components/icons/IconPen.vue";
import IconRefresh from "@/components/icons/IconRefresh.vue";

export default defineComponent({
    components: {
        AppCard,
        UiButton,
        UiPagination,
        IconPlus,
        IconChevronRight,
        AppCategoryEditModal,
        IconPen,
        UiSearchInput,
        IconRefresh,
    },
    async setup() {
        const store = useAdminBusinessCategoriesStore();
        const mounted = ref(false);

        onMounted(() => {
            mounted.value = true;
        });

        await store.init();

        return {
            mounted,
            skip: computed(() => store.tier1Meta.page - 1),
            limit: 50,
            total: computed(() => store.tier1Meta.pageCount - 1),
            tier1Categories: computed(() => store.tier1Categories),
            tier2Categories: computed(() => store.tier2Categories),
            tier3Categories: computed(() => store.tier3Categories),
            setTier1: (value: string) => { store.setTier1(value) },
            setTier2: (value: string) => { store.setTier2(value) },
            tier1Selected: computed(() => store.tier1Selected),
            tier2Selected: computed(() => store.tier2Selected),
            hoverTier1: (value: string) => { store.hoverTier1(value) },
            hoverTier2: (value: string) => { store.hoverTier2(value) },
            hoverTier3: (value: string) => { store.hoverTier3(value) },
            tier1Hovered: computed(() => store.tier1Hovered),
            tier2Hovered: computed(() => store.tier2Hovered),
            tier3Hovered: computed(() => store.tier3Hovered),
            isEditModalOpen: computed(() => store.isEditModalOpen),
            closeEditModal: () => { store.closeEditModal },
            categoryEditMeta: computed(() => store.categoryEditMeta),
            categoryEditValue: computed(() => store.categoryEditValue),
            newTier1: () => { store.newTier1() },
            newTier2: () => { store.newTier2() },
            newTier3: () => { store.newTier3() },
            edit: (item: BusinessCategory) => { store.edit(item) },
            searchForm: computed(() => store.searchForm),
            updateSearchForm: (value: any) => { 
                store.updateSearchForm(value);
            },
            nameFilterCountersOn: computed(() => !!store.searchForm && store.searchForm.length >= 3),
            refreshSearchForm: () => { store.refreshSearchForm() },
        };
    },
});
</script>

<template>
    <div class="no-padding">
        <AppCard class="selector">
            <div class="list__tier list__tier_1">
                <div v-for="item in tier1Categories"
                    :class="{ 'list__category': true, 'list__category__is-active': item.value === tier1Selected }"
                    @click="setTier1(item.value)" v-on:mouseover="hoverTier1(item.value)" v-on:mouseleave="hoverTier1('')">
                    <strong>{{ item.value }}</strong>
                    <div v-if="nameFilterCountersOn" class="counter">
                        {{ item.matchingChildren }}
                    </div>
                    <IconPen v-if="item.value === tier1Hovered || item.value === tier1Selected" class="icon__edit"
                        @click="edit(item)" />
                    <IconChevronRight v-if="item.value === tier1Selected || item.value === tier1Hovered"
                        class="icon__chevron" />
                </div>
                <div class="list__category list__category__add" @click="newTier1()">
                    <IconPlus class="icon" />
                    New Top Category
                </div>
            </div>
            <div class="list__tier list__tier_2">
                <div v-for="item in tier2Categories"
                    :class="{ 'list__category': true, 'list__category__is-active': item.value === tier2Selected }"
                    @click="setTier2(item.value)" v-on:mouseover="hoverTier2(item.value)" v-on:mouseleave="hoverTier2('')">
                    {{ item.value }}
                    <div v-if="nameFilterCountersOn" class="counter">
                        {{ item.matchingChildren }}
                    </div>
                    <IconPen v-if="item.value === tier2Hovered || item.value === tier2Selected" class="icon__edit"
                        @click="edit(item)" />
                    <IconChevronRight v-if="item.value === tier2Hovered || item.value === tier2Selected"
                        class="icon__chevron" />
                </div>
                <div v-if="!!tier1Selected" class="list__category list__category__add" @click="newTier2()">
                    <IconPlus class="icon" />
                    New Category
                </div>
            </div>
            <div class="list__tier list__tier_3">
                <div v-for="item in tier3Categories" :class="{ 'list__category': true, }"
                    v-on:mouseover="hoverTier3(item.value)" v-on:mouseleave="hoverTier3('')">
                    {{ item.value }}
                    <IconPen v-if="item.value === tier3Hovered || item.value === tier3Selected" class="icon__edit"
                        @click="edit(item)" />
                </div>
                <div v-if="!!tier2Selected" class="list__category list__category__add" @click="newTier3()">
                    <IconPlus class="icon" />
                    New Sub-category
                </div>
            </div>
        </AppCard>
    </div>
    <teleport to="body">
        <AppCategoryEditModal v-if="isEditModalOpen" :meta="categoryEditMeta" :value="categoryEditValue"
            @close="closeEditModal()" />
    </teleport>
    <teleport to=".admin-tabs">
        <UiSearchInput 
            class="search" 
            placeholder="Filter by category name"
            :field="searchForm"
            @update:modelValue="updateSearchForm">
        </UiSearchInput>
            <UiButton
            view="control-secondary"
            class="refresh-button"
            @click="refreshSearchForm()"
        >
        <template v-slot:icon><IconRefresh /></template>
      </UiButton>
    </teleport>
</template>

<style lang="scss" scoped>
@import "@/styles/color.scss";
@import "@/styles/typography.scss";

.selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: $color-white;
}

.no-padding {
    :deep(.app-card) {
        padding: 0;

    }
}

.list {
    &__tier {
        display: flex;
        flex-direction: column;
        grid-column: span 1;
        border-right: 2px solid rgba(30, 43, 153, 0.06);

        &_1 {
            order: 1;
            border-left: none;
            clip-path: inset(0 round 20px 0 0 0);
        }

        &_2 {
            order: 2;
        }

        &_3 {
            order: 3;
            grid-column: span 2;
            border-right: none;
        }
    }

    &__category {
        display: flex;
        padding: 8px;
        color: $color-blue-60;
        width: full;
        // font-weight: 600;
        @include typography-main(14px, 600);
        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: normal;

        &:hover {
            color: $color-blue;
            background-color: #1E2B990F;
        }

        &__is-active {
            color: $color-blue;
            background-color: #1E2B990F;
        }

        &__add {
            color: $color-blue;
            border-top: 2px solid rgba(30, 43, 153, 0.06);
        }
    }
}

.icon {
    margin-right: 4px;

    &__chevron {
        // margin-left: auto;
        height: 20px;

    }

    &__delete {
        margin-left: auto;
        margin-right: 4px;
        height: 20px;

        &:hover {
            color: $color-red;
        }
    }

    &__edit {
        margin-left: auto;
        margin-right: 4px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: solid 2px transparent;

        &:hover {
            color: $color-white;
            background-color: $color-blue;
            border: solid 2px $color-blue;
        }
    }
}

.search {
    margin-left: auto;
}

.counter {
    background-color: $color-blue;
    border: solid 1px  $color-blue;
    color: white;
    margin-left: 4px;
    border-radius: 25%;
    height: 10px;
    align-self: center;
    padding-bottom: 10px;
}

.refresh-button {
    width: 52px;
    height: 52px;
    padding: 7px;
    margin-left: 12px;

    &:hover {
        background-color: $color-blue;
        color: white;
    }
}
</style>