<script lang="ts">
import { ref, defineComponent, computed } from "vue";

import { BusinessCategory, BusinessCategoryType, businessCategoryTypes } from "@/types/commonTypes";

import { useAdminBusinessCategoriesStore } from "./store";

import { adaptForField } from "@/components/formAdapters/adaptForField";
import UiModal from "@/components/UiModal.vue";
import UiForm from "@/components/formAdapters/UiForm.vue";
import UiFormField from "@/components/formAdapters/UiFormField.vue";
import UiTextInput from "@/components/UiTextInput.vue";
import UiTextarea from "@/components/UiTextarea.vue";
import UiButton from "@/components/UiButton.vue";

import IconTrash from "@/components/icons/IconTrash.vue";

import { createForm } from "@/helpers/form";
import {
    getRequiredValidator,
    getWhitespaceValidator,
} from "@/helpers/validation";

export default defineComponent({
    components: {
        UiModal,
        UiForm,
        UiFormField,
        UiFormTextInput: adaptForField(UiTextInput),
        UiTextarea: adaptForField(UiTextarea),
        UiButton,
        IconTrash,
    },
    props: {
        meta: {
            type: Object,
            default: {
                header: "Add a New Top Category",
                editMode: false,
                type: businessCategoryTypes.tier1 as BusinessCategoryType,
                path: {
                    type: Array,
                    default: [],
                },
            },
        },
        value: {
            type: String,
            default: "",
        },
    },
    async setup(props, { emit }) {
        const value = ref(props.value);
        const store = useAdminBusinessCategoriesStore();
        const form = createForm({
            value: {
                ref: value,
                validators: [getRequiredValidator(), getWhitespaceValidator()],
            },
        });

        const close = () => {
            emit("close");
            store.closeEditModal();
        };

        return {
            form,
            submit: async () => {
                form.setErrorsVisible(true);
                store.setCategoryEditValue(form.fields.value.ref);
                if (props.meta.editMode) {
                    await store.renameCategory();
                } else {
                    await store.createNewCategory();
                }
                store.closeEditModal();
            },
            close,
            hideHighlight: () => { },
            meta: ref(props.meta),
            typeName: () => {
                switch (props.meta.type) {
                    case businessCategoryTypes.tier1:
                        return "top category";

                    case businessCategoryTypes.tier2:
                        return "category";

                    case businessCategoryTypes.tier3:
                    default:
                        return "sub-category";
                }
            },
            openConfirmDeleteModal: (item: BusinessCategory) => { store.openConfirmDeleteModal(item) },
            item: computed(() => ({
                value: store.categoryEditTarget,
                path: props.meta.path,
                type: props.meta.type,
            }))
        };
    },
});
</script>

<template>
    <UiModal @close="close" :show-close-btn="false">
        <div class="alert-modal">
            <div class="alert-modal__header">
                {{ meta.header }}
            </div>
            <div v-if="meta.editMode" class="alert-modal__text">
                Note that changing the category name will be reflected with all companies who've already tagged it as well.
            </div>
            <div v-if="!meta.editMode" class="alert-modal__text">
                This will add a new {{ typeName() }}.
            </div>
            <UiForm :form="form" @submit="submit()">
                <UiFormField :field="form.fields.value" label="Category Name" class="alert-modal__field">
                    <UiFormTextInput :field="form.fields.value" placeholder="Category Name" />
                </UiFormField>
                <div class="alert-modal__controls controls">
                    <UiButton class="controls__item" view="secondary" @click="close">
                        Cancel
                    </UiButton>
                    <UiButton class="controls__item" type="submit">
                        <template v-if="meta.editMode">Apply</template>
                        <template v-else>Add</template>
                    </UiButton>
                </div>
            </UiForm>
            <div v-if="meta.editMode" class="alert-modal__text">
                <p class="delete">
                    Delete category
                </p>
                If no companies have this category in their profile, you may remove it. This action will not remove the
                associated categories (if any). If you are unable to remove a category, but find its name inappropriate or incorrect, consider renaming it instead.
            </div>
            <UiButton v-if="meta.editMode" style="padding: 8px 16px; margin-top: 24px; min-width: 150px;" @click="openConfirmDeleteModal(item)" view="control-secondary-danger">
                <IconTrash style="height: 20px; width: auto;"/>
                Delete
            </UiButton>
        </div>
    </UiModal>
</template>

<style lang="scss" scoped>
@import "@/styles/typography.scss";
@import "@/styles/color.scss";

.alert-modal {
    width: 580px;
    max-width: 100%;

    &__header {
        @include typography-main(20px, 700);
        color: $color-blue;
        margin-bottom: 12px;
    }

    &__text {
        @include typography-main(14px);
    }

    &__field {
        margin-top: 40px;
    }

    &__controls {
        margin-top: 40px;
        text-align: right;
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__item {
        min-width: 25%;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}

.delete {
    color: $color-blue;
    margin-top: 24px;
    margin-bottom: 4px;
    @include typography-main(16px, 600);
}
</style>