block variables

- teamAt = teamAt || "MyClientReviews.com.au"
- logoUrl = logoUrl || `${imageBucketUrl}/logo.png`

mixin mButton(url)
    if block
        table.button(class!=attributes.class)
            tr
                td(align="center")
                    a(href=url)
                        strong
                            block

mixin mLink(url)
    if block
        a(href=url).link
            strong
                block

mixin mReviewWrap(topMargin=false)
    if block
        table.review-wrap(style="width: 100%;")
            if topMargin
                tr
                    td(style="height: 20px")
            tr
                td(class!=["content", attributes.class], align="center")
                    block
            tr
                td(style="height: 40px")

html
    head
        link(rel="stylesheet", href="styles.css", data-inline)
    body(align="center")
        table.layout(align="center")
            tr
                td.layout__main-logo
                    a(href=frontendBaseUrl)
                        img(src=logoUrl)
            tr
                td(style="height: 20px")
            tr
                td.layout__illustration
                    if illustrationUrl
                            img(src=illustrationUrl)
            tr
                td
                    h1.title #{title}
            tr
                td.content
                    block content
            tr
                td
                    .layout__regards
                        block thanks
                        | Kind regards
                        br
                        +mLink(frontendBaseUrl) The Team at #{teamAt}
            tr
                td
                    .layout__footer
                        .center-block.footer__text This message was sent to you by &#8220;My Client Reviews&#8221;.
                        .center-block
                            img(src=`${imageBucketUrl}/logo-gray.png` style="margin-bottom: 16px;")
            tr
                td
                        .center-block
                            | <a href=<%asm_preferences_raw_url%>target="_blank">Manage preferences</a>